[submodule "SegFace"]
	path = SegFace
	url = https://github.com/Kartik-3004/SegFace
[submodule "SegFormer"]
	path = SegFormer
	url = https://github.com/NVlabs/SegFormer
[submodule "retinaface"]
	path = retinaface
	url = https://github.com/juliancoy/retinaface
[submodule "sam3"]
	path = sam3
	url = https://github.com/facebookresearch/sam3
[submodule "editor/rtaudio"]
	path = editor/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "tribev2"]
	path = tribev2
	url = https://github.com/facebookresearch/tribev2
[submodule "motive3d"]
	path = motive3d
	url = https://github.com/juliancoy/motive
